.background {
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background:before,
.background:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background:before {
    transition: background-color .325s ease-in-out;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url('./overlay.png');
    background-size: auto, 256px 256px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    z-index: 2;
}

.background:after {
    -webkit-transform: scale(1.125);
    transform: scale(1.125);
    transition: -webkit-transform .325s ease-in-out, -webkit-filter .325s ease-in-out, background-image .325s ease-in-out;
    transition: transform .325s ease-in-out, filter .325s ease-in-out;
    transition: transform .325s ease-in-out, filter .325s ease-in-out, -webkit-transform .325s ease-in-out, -webkit-filter .325s ease-in-out;
    background-image: url('./bg_ub_compressed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.active:after {
    -webkit-transform: scale(1.0825);
    transform: scale(1.0825);
    -moz-filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
    -ms-filter: blur(0.2rem);
    filter: blur(0.2rem);
}

.bg-loading:before {
    background-color: black;
}
